


h1, h2, h3, p {
	text-align: center;
	margin: 0
}

h1 {
	font-size: 5em;
}
h2 {
	font-size: 2.5em;
}

a {
	font-size: 2em;
}

p {
	display: block;
	border-radius: 4px;
	text-align: left;
	
	max-width: 800px;
	margin: 0 auto;
	
	white-space: preserve-breaks;
	
	text-align: center;
}

code {
	display: block;
	background: #eee;
	border-radius: 4px;
	text-align: left;
	white-space: preserve;
	
	padding: 20px;
	
	max-width: 800px;
	margin: 0 auto;
}

[tag] {
	white-space: nowrap;
	display: inline-block;
	padding: 2px;
}

section {
	max-width: 900px;
	margin: 0 auto;
	
	box-shadow: 0 0 2px 2px #ddd;
	border-radius: 4px;
}

article {
	width: 90%;
	margin: 0 auto;
	
	box-shadow: 0 0 2px 2px #ddd;
	border-radius: 4px;
}
