.list-group .list-group-item {
  background: none;
}
.list-group .list-group-item.list-group-item-action {
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}
.list-group .list-group-item.list-group-item-action.unselected {
  box-shadow: unset !important;
}

.labml-card {
  box-shadow: none;
}

.nav-link {
  margin: 4px;
  padding: 8px 16px 8px 16px;
  border-radius: 15px;
  cursor: pointer;
}

.btn.btn-primary {
  border: none;
}

body.light {
  background-color: #ecf0f3;
}
body.light .toggle-list-title {
  color: #34495e;
}
body.light .compare-header .compared-with .title.clickable {
  color: black;
}
body.light .compare-header .compared-with .sub {
  color: #34495e;
}
body.light .compare-header .error {
  color: #dc3545;
}
body.light .fullscreen-cover {
  background-color: #ecf0f3;
}
body.light .detail-card, body.light .loader-container, body.light .toast {
  background-color: #ecf0f3;
}
body.light option {
  background-color: #ecf0f3;
}
body.light .labml-card {
  background-color: #ecf0f3;
}
body.light .labml-card h3 {
  color: #7f8c8d;
}
body.light .labml-card:not(disabled):not(.disabled) {
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1), 0px 1px 20px 0px rgba(0, 0, 0, 0.1);
}
body.light .labml-card:not(disabled):not(.disabled).labml-card-action {
  box-shadow: 3px 3px 6px #d1d9e6, -3px -3px 6px #fff;
}
body.light .labml-card:not(disabled):not(.disabled).selected, body.light .labml-card:not(disabled):not(.disabled):active {
  box-shadow: inset 2px 2px 5px #d1d9e6, inset -3px -3px 7px #fff;
}
body.light .nav-link {
  box-shadow: 3px 3px 6px #d1d9e6, -3px -3px 6px #fff;
  color: #34495e;
}
body.light .nav-link.disabled {
  box-shadow: inset 0 0 0 #d1d9e6, inset 0 0 0 2px #fff;
}
body.light .nav-link.disabled > * {
  filter: opacity(70%);
}
body.light .toggle-button.selected {
  box-shadow: inset 2px 2px 5px #d1d9e6, inset -3px -3px 7px #fff;
}
body.light .v-line {
  border-left: 2px solid #34495e;
}
body.light .btn.btn-primary {
  box-shadow: 3px 3px 6px #d1d9e6, -3px -3px 6px #fff;
  background: #ecf0f3;
  color: #34495e;
}
body.light .btn.btn-primary:hover {
  color: #34495e;
}
body.light .btn.btn-primary:not(disabled):not(.disabled):active {
  box-shadow: inset 2px 2px 5px #d1d9e6, inset -3px -3px 7px #fff;
  background: #ecf0f3;
  color: #34495e;
}
body.light .list-group .list-group-item.list-group-item-action {
  box-shadow: 3px 3px 6px #d1d9e6, -3px -3px 6px #fff;
}
body.light .list-group .list-group-item.list-group-item-action.selected, body.light .list-group .list-group-item.list-group-item-action:active {
  box-shadow: inset 2px 2px 5px #d1d9e6, inset -3px -3px 7px #fff;
}
body.light .page h3.header {
  color: #34495e;
  border-bottom: 1px solid #ddd;
}
body.light .page h2.header {
  color: #34495e;
}
body.light .selected-step {
  fill: #34495e;
}
body.light .terminal-card {
  background-color: none;
}
body.light .terminal-card pre {
  color: black;
}
body.light .runs-list .search-container .search-content {
  box-shadow: inset 2px 2px 5px #d1d9e6, inset -3px -3px 7px #fff;
}
body.light .runs-list .search-container .search-content span.icon {
  color: #555;
}
body.light .runs-list .search-container .search-content input {
  color: #353B42;
}
body.light .alert-message {
  box-shadow: 2px 2px 4px #d1d9e6;
}
body.light .tab:active {
  box-shadow: inset 2px 2px 5px #d1d9e6, inset -3px -3px 7px #fff;
}
body.light .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
body.light .overlay.transparent {
  background-color: transparent;
}
body.light .nav-container .title {
  color: #34495e;
}
body.light .nav-links {
  background-color: #ecf0f3;
}
body.light .nav-links h6 {
  color: #7f8c8d;
}
body.light .nav-links h5 {
  color: #34495e;
}
body.light .list .list-item {
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15), 0px 1px 20px 0px rgba(0, 0, 0, 0.15);
}
body.light .list .list-item:focus {
  background-color: transparent;
}
body.light .list .list-item h5 {
  color: #34495e;
}
body.light .list .list-item h6 {
  color: #7f8c8d;
}
body.light .list .list-item p {
  color: #7f8c8d;
}
body.light .list .list-item .status {
  color: #7f8c8d;
}
body.light .run-info .run-uuid {
  color: #7f8c8d;
}
body.light .run-info .status {
  color: #7f8c8d;
}
body.light .run-info h3 {
  color: #34495e;
}
body.light .run-info h4, body.light .run-info h5 {
  color: #7f8c8d;
}
body.light .input-list-container ul li {
  background: rgba(174, 178, 174, 0.1);
  color: black;
}
body.light .input-list-container .item-key {
  color: #7f8c8d;
}
body.light .input-list-container .item-value {
  color: black;
}
body.light .input-container .input-content {
  box-shadow: inset 2px 2px 5px #d1d9e6, inset -3px -3px 7px #fff;
}
body.light .input-container .input-content input, body.light .input-container .input-content textarea, body.light .input-container .input-content select {
  color: #353B42;
}
body.light .configs .info_list {
  border-bottom: 1px solid #ddd;
}
body.light .line-text {
  fill: #34495e;
}
body.light .danger {
  color: #dc3545;
}
body.light .warning {
  color: #ffc107;
}
body.light .success {
  color: #28a745;
}
body.light .error-container {
  background-image: linear-gradient(125deg, #fff, #d1d9e6);
}
body.light .message {
  color: white;
}
body.light .close-btn {
  color: white;
}
body.light .slider::-webkit-slider-thumb {
  background: black;
}
body.light .slider::-moz-range-thumb {
  background: black;
}
body.light .dropdown-button .dropdown-items {
  background: #ecf0f3;
}
body.light .dropdown-button .dropdown-items .dropdown-item {
  color: black;
}
body.light .dropdown-button .dropdown-items .dropdown-item:hover {
  background: #d1d9e6;
}
body.light .dropdown-button .dropdown-items .dropdown-item:active {
  background: #fff;
}

body.dark {
  background-color: #292d32;
}
body.dark .dropdown-button .dropdown-items {
  background: #292d32;
}
body.dark .dropdown-button .dropdown-items .dropdown-item {
  color: white;
}
body.dark .dropdown-button .dropdown-items .dropdown-item:hover {
  background: #222;
}
body.dark .dropdown-button .dropdown-items .dropdown-item:active {
  background: #353B42;
}
body.dark .compare-header .compared-with .title.clickable {
  color: white;
}
body.dark .compare-header .compared-with .sub {
  color: #ccc;
}
body.dark .compare-header .error {
  color: #dc3545;
}
body.dark .fullscreen-cover {
  background-color: #292d32;
}
body.dark .detail-card, body.dark .loader-container, body.dark .toast {
  background-color: #292d32;
}
body.dark option {
  background-color: #292d32;
}
body.dark .labml-card {
  background-color: #292d32;
}
body.dark .labml-card h3 {
  color: #7f8c8d;
}
body.dark .labml-card:not(disabled):not(.disabled) {
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1), 0px 1px 20px 0px rgba(0, 0, 0, 0.1);
}
body.dark .labml-card:not(disabled):not(.disabled).labml-card-action {
  box-shadow: 3px 3px 6px #222, -3px -3px 6px #353B42;
}
body.dark .labml-card:not(disabled):not(.disabled).selected, body.dark .labml-card:not(disabled):not(.disabled):active {
  box-shadow: inset 2px 2px 5px #222, inset -3px -3px 7px #353B42;
}
body.dark .nav-link {
  box-shadow: 3px 3px 6px #222, -3px -3px 6px #353B42;
  color: #ccc;
}
body.dark .nav-link.disabled {
  box-shadow: inset 0 0 0 #222, inset 0 0 0 2px #353B42;
}
body.dark .nav-link.disabled > * {
  filter: brightness(70%);
}
body.dark .toggle-button.selected {
  box-shadow: inset 2px 2px 5px #222, inset -3px -3px 7px #353B42;
}
body.dark .v-line {
  border-left: 2px solid #ccc;
}
body.dark .btn.btn-primary {
  box-shadow: 3px 3px 6px #222, -3px -3px 6px #353B42;
  background: #292d32;
  color: #ccc;
}
body.dark .btn.btn-primary:hover {
  color: #ccc;
}
body.dark .btn.btn-primary:not(disabled):not(.disabled):active {
  box-shadow: inset 2px 2px 5px #222, inset -3px -3px 7px #353B42;
  background: #292d32;
  color: #ccc;
}
body.dark .list-group .list-group-item.list-group-item-action {
  box-shadow: 3px 3px 6px #222, -3px -3px 6px #353B42;
}
body.dark .list-group .list-group-item.list-group-item-action.selected, body.dark .list-group .list-group-item.list-group-item-action:active {
  box-shadow: inset 2px 2px 5px #222, inset -3px -3px 7px #353B42;
}
body.dark .page h3.header {
  color: #ccc;
  border-bottom: 1px solid #353B42;
}
body.dark .page h2.header {
  color: #ccc;
}
body.dark .selected-step {
  fill: #ccc;
}
body.dark .terminal-card {
  background-color: none;
}
body.dark .terminal-card pre {
  color: #ccc;
}
body.dark .runs-list .search-container .search-content {
  box-shadow: inset 2px 2px 5px #222, inset -3px -3px 7px #353B42;
}
body.dark .runs-list .search-container .search-content span.icon {
  color: #ccc;
}
body.dark .runs-list .search-container .search-content input {
  color: #ddd;
}
body.dark .alert-message {
  box-shadow: 2px 2px 4px #222;
}
body.dark .tab:active {
  box-shadow: inset 2px 2px 5px #222, inset -3px -3px 7px #353B42;
}
body.dark .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
body.dark .overlay .overlay-content {
  background-color: #292d32;
}
body.dark .nav-container .title {
  color: #ccc;
}
body.dark .nav-links {
  background-color: #292d32;
}
body.dark .nav-links h6 {
  color: #ccc;
}
body.dark .nav-links h5 {
  color: #ccc;
}
body.dark .list .list-item {
  box-shadow: 0px 4px 5px 0px #222, 0px 1px 20px 0px #222;
}
body.dark .list .list-item:focus {
  background-color: transparent;
}
body.dark .list .list-item h5 {
  color: #ccc;
}
body.dark .list .list-item h6 {
  color: #ccc;
}
body.dark .list .list-item p {
  color: #ccc;
}
body.dark .list .list-item .status {
  color: #ccc;
}
body.dark .run-info .run-uuid {
  color: #ccc;
}
body.dark .run-info .status {
  color: #ccc;
}
body.dark .run-info h3 {
  color: #ccc;
}
body.dark .run-info h4, body.dark .run-info h5 {
  color: #ccc;
}
body.dark .input-list-container ul li {
  background: rgba(174, 178, 174, 0.1);
  color: white;
}
body.dark .input-list-container .item-key {
  color: #ccc;
}
body.dark .input-list-container .item-value {
  color: white;
}
body.dark .input-container .input-content {
  box-shadow: inset 2px 2px 5px #222, inset -3px -3px 7px #353B42;
}
body.dark .input-container .input-content input, body.dark .input-container .input-content textarea, body.dark .input-container .input-content select {
  color: #ddd;
}
body.dark .configs .info_list {
  border-bottom: 1px solid #353B42;
}
body.dark h5 {
  color: #ccc;
}
body.dark p {
  color: #ccc;
}
body.dark div {
  color: #ccc;
}
body.dark .line-text {
  fill: #ccc;
}
body.dark .danger {
  color: #dc3545;
}
body.dark .warning {
  color: #ffc107;
}
body.dark .success {
  color: #28a745;
}
body.dark .error-container {
  background-image: linear-gradient(125deg, #353B42, #222);
}
body.dark .message {
  color: black;
}
body.dark .close-btn {
  color: black;
}
body.dark .slider::-webkit-slider-thumb {
  background: white;
}
body.dark .slider::-moz-range-thumb {
  background: white;
}
body.dark .toggle-list-title {
  color: #ccc;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* App.css */
.hide {
  display: none;
}

.show {
  display: block;
}

.show-inline {
  display: inline-block;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.last-updated {
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0.7;
}

.rank {
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0.8;
}

.rank-link {
  margin-right: 10px;
}

.labml-card {
  border-radius: 0.25rem;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 20px 0;
}
.labml-card h3 {
  font-size: 1rem;
  padding: 0 10px;
}
.labml-card .info {
  text-align: center;
  opacity: 0.7;
}
.labml-card.labml-card-action {
  cursor: pointer;
}

.page {
  margin: 0 auto;
}
.page h3.header {
  font-size: 0.9rem;
  padding: 0 10px 3px 0;
  text-align: center;
  text-transform: uppercase;
}
.page h2.header {
  font-size: 1.2rem;
  padding: 0 10px;
  text-align: center;
}

input[type=email], input[type=text] {
  font-size: 1rem;
}

.input-container {
  flex: 1 0 100%;
}
.input-container .input-content {
  display: flex;
  padding-right: 5px;
  margin-right: -5px;
  border-radius: 10px;
}
.input-container .input-content input, .input-container .input-content textarea, .input-container .input-content select {
  flex: 1 1 auto;
  padding: 0.375rem 0.75rem;
  border: none;
  outline: none;
  background: none;
  line-height: 25px;
}
.input-container .input-content input:focus, .input-container .input-content textarea:focus, .input-container .input-content select:focus {
  box-shadow: none;
}
.input-container .input-content select {
  height: 25px;
  box-sizing: content-box;
}

body {
  font-size: 0.9rem;
}

.image-style {
  width: 75px;
}

.logo-style {
  width: 150px;
}

.label {
  display: inline-block;
  padding: 4px;
  border-radius: 0.25rem;
  margin-right: 10px;
}

.label-info {
  background-color: #2196F3;
}

.auto-margin {
  margin: auto;
}

.data-loader > .error > .fas {
  font-size: 2em;
  margin: 0.2em;
}

/* Buttons*/
.toggle-button {
  font-size: 0.8rem;
}

.btn, .tab, .list-item, .labml-card {
  transition: all 10ms;
  transition-delay: 10ms;
}
.btn:active, .btn.selected, .tab:active, .tab.selected, .list-item:active, .list-item.selected, .labml-card:active, .labml-card.selected {
  transition: none;
}

.btn-container > .btn {
  display: inline-block;
  margin: 4px;
}

input, .item-value {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}

.btn-refresh {
  position: relative;
}
.btn-refresh > .time-remaining {
  font-size: 0.5em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

/* Loader */
.loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #eb6134;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 0.5s linear infinite;
  /* Safari */
  animation: spin 0.5s linear infinite;
  margin-top: 50px;
  display: inline-block;
}

.loader-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spin {
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Hamburger Menu */
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  cursor: pointer;
}

.nav-container {
  overflow: hidden;
  margin-top: 10px;
  margin-left: 5px;
}
.nav-container .title {
  float: left;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 10px;
  margin-top: 12px;
  margin-left: 8px;
}

.nav-links {
  position: fixed;
  z-index: 3;
  left: -10px;
  height: 100%;
  padding-top: 2vh;
  margin-top: -10px;
  width: 250px;
  transform: translate(-100%);
  transition: transform 0.3s ease-in;
}
.nav-links .tab {
  margin-left: 30px;
  display: block;
  width: 80%;
  cursor: pointer;
  margin-top: 20px;
}
.nav-links span {
  margin-left: 15px;
  font-size: 15px;
  font-weight: bold;
}
.nav-links h6 {
  font-size: 0.7rem;
  font-weight: bolder;
}
.nav-links h5 {
  font-size: 0.9rem;
  font-weight: bold;
}

.burger {
  cursor: pointer;
  float: left;
}

.nav-active {
  transform: translate(0%);
}

span.fas {
  margin-left: 0;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(0px);
  }
  to {
    opacity: 1;
    transform: translateX(30px);
  }
}
.buttons {
  float: right;
  display: flex;
}

/* alert message */
.message {
  padding: 8px;
  opacity: 0.75;
  text-align: center;
}
.message.alert {
  background-color: #f0ad4e;
}
.message.success {
  background-color: #5cb85c;
}

.close-btn {
  margin-left: 15px;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* page not found */
.error-container {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(125deg, #ffffff, #ced6e0);
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #343434;
}
.error-container h1 {
  font-size: 160px;
  margin: 0;
  font-weight: 900;
  letter-spacing: 20px;
}
.error-container p {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

/* run header */
.run-info {
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.run-info .start-time {
  opacity: 0.8;
  margin-top: 5px;
  margin-bottom: 5px;
}
.run-info .run-uuid {
  margin-top: 2px;
}
.run-info .run-uuid span.heading {
  margin-right: 4px;
  opacity: 0.7;
}
.run-info .status {
  text-transform: uppercase;
}
.run-info .badge {
  font-size: 9px;
  text-transform: uppercase;
}
.run-info h3, .run-info h4, .run-info h5 {
  overflow-wrap: break-word;
  margin: 0;
}
.run-info h3 {
  font-size: 1.75rem;
  padding: 0;
}

/* Run Header View */
.input-list-container ul {
  font-size: 12px;
  margin: 50px auto 0;
  padding: 10px;
  box-sizing: border-box;
}
.input-list-container ul li {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  margin: 8px 0;
  transition: 0.5s;
}
.input-list-container .item-key {
  text-transform: uppercase;
  font-weight: bolder;
  width: 150px;
}
.input-list-container .item-value {
  opacity: 0.7;
  font-weight: bold;
  overflow: hidden;
}
.input-list-container textarea {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .input-list-container .item-key {
    margin-top: 5px;
    flex: 1 0 100%;
    text-transform: uppercase;
    color: dimgrey;
    font-weight: bolder;
    width: 150px;
  }
  .input-list-container .item-value {
    margin-top: 5px;
    flex: 1 0 100%;
    color: black;
    opacity: 0.7;
    font-weight: bold;
    overflow: hidden;
  }
}

/*Terminal */
.terminal-card {
  padding-left: 5px;
  padding-right: 5px;
  min-height: 200px;
  display: flex;
}

.no-scroll {
  max-width: 100%;
}

/*Runs List*/
.list .list-item {
  font-size: 12px;
  outline: none;
}
.list .list-item .badge {
  font-size: 9px;
  text-transform: uppercase;
}
.list .list-item h3, .list .list-item h4, .list .list-item h5, .list .list-item h6, .list .list-item p {
  overflow-wrap: break-word;
  padding: 0;
  margin: 2px 0;
}
.list .list-item .status {
  text-transform: uppercase;
  font-size: 8px;
}
.list .list-item input[type=checkbox] {
  transform: scale(1.2);
  margin-top: 18px;
  border-radius: 50%;
  border: 1px solid #ddd;
}
.spaced-row {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  flex-wrap: wrap;
}
@media (min-width: 800px) {
  .spaced-row {
    flex-direction: row;
    justify-content: space-between;
  }
}

.runs-list .search-container .search-content {
  display: flex;
  border-radius: 10px;
}
.runs-list .search-container .search-content span.icon {
  align-items: center;
  padding: 0.375rem 0.75rem;
}
.runs-list .search-container .search-content input {
  flex: 1 1 auto;
  padding: 0.375rem 0.75rem;
  border: none;
  outline: none;
  background: none;
}
.runs-list .search-container .search-content input:focus {
  box-shadow: none;
}

.process-item .pid {
  float: right;
  display: inline-block;
  width: 72px;
}
.process-item .pid > .title {
  font-weight: bold;
}

/* Charts */
.selected-step {
  font-size: 0.7rem;
  text-anchor: middle;
}

svg#chart g.bottom-axis, svg#chart g.right-axis {
  color: #7f8c8d;
}
svg#chart g.bottom-axis path.domain, svg#chart g.right-axis path.domain {
  color: rgba(255, 255, 255, 0);
}
svg#chart g.bottom-axis g.tick, svg#chart g.right-axis g.tick {
  text-anchor: start;
  opacity: 0.7;
}
svg#chart g.bottom-axis g.tick line, svg#chart g.right-axis g.tick line {
  color: #bdc3c7;
}
svg#chart path.line-fill {
  opacity: 0.4;
}
svg#chart path.smoothed-line {
  stroke-width: 3;
}
svg#chart path.smoothed-line.current {
  stroke-width: 3;
}
svg#chart path.smoothed-line.base {
  stroke-width: 2;
  opacity: 0.8;
}
svg#chart path.smoothed-line.dropshadow {
  filter: url(#dropshadow);
}
svg#chart path.unsmoothed-line {
  stroke-width: 0.5;
}
svg#chart path.unsmoothed-line.smooth-focused {
  stroke-width: 0.2;
  opacity: 0.5;
}

svg#time-series-chart g.right-axis {
  color: #7f8c8d;
}
svg#time-series-chart g.right-axis path.domain {
  color: rgba(255, 255, 255, 0);
}
svg#time-series-chart g.right-axis g.tick {
  text-anchor: start;
  opacity: 0.7;
}
svg#time-series-chart g.right-axis g.tick line {
  color: #bdc3c7;
}
svg#time-series-chart g.bottom-axis {
  color: #7f8c8d;
}
svg#time-series-chart g.bottom-axis path.domain {
  color: rgba(255, 255, 255, 0);
}
svg#time-series-chart g.bottom-axis g.tick {
  text-anchor: middle;
  opacity: 0.7;
}
svg#time-series-chart g.bottom-axis g.tick line {
  color: #bdc3c7;
}
svg#time-series-chart path.line-fill {
  opacity: 0.4;
}
svg#time-series-chart path.smoothed-line {
  stroke-width: 3;
}
svg#time-series-chart path.smoothed-line.dropshadow {
  filter: url(#dropshadow);
}
svg#time-series-chart path.unsmoothed-line {
  stroke-width: 0.5;
}

div.sparkline-list-item {
  border: none;
}

button.sparkline-list-item {
  outline: none;
}
button.sparkline-list-item:focus {
  background-color: transparent;
}

.sparkline-list-item {
  cursor: pointer;
  padding: 0.25rem 5px;
  text-align: center;
  margin-left: 25px;
}
.sparkline-list-item .sparkline-content {
  display: inline-block;
  text-align: left;
  position: relative;
}
.sparkline-list-item .sparkline-content .base-icon {
  position: absolute;
  left: -2em;
}
.sparkline-list-item .sparkline-content span {
  vertical-align: middle;
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
}
.sparkline-list-item .sparkline-content .title {
  height: 1.5em;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.sparkline-list-item .sparkline-content span.value {
  text-align: right;
  height: 36px;
}
.sparkline-list-item .sparkline-content span.value.primary-only span {
  line-height: 3;
}
.sparkline-list-item .sparkline-content span.value span {
  display: block;
}
.sparkline-list-item .sparkline-content .icon {
  top: 50%;
  transform: translateY(-15%);
  left: -2em;
  font-size: 1em;
}
.sparkline-list-item .sparkline-content .icon.chart {
  left: -3.3rem;
  font-size: 0.8em;
  transform: translateY(-22%);
}

svg.sparkline {
  isolation: isolate;
}
svg.sparkline path.smoothed-line {
  stroke-width: 1.5;
}
svg.sparkline path.unsmoothed-line {
  stroke-width: 0;
}
svg.sparkline path.line-fill {
  opacity: 0.3;
}
svg.sparkline .value-primary {
  font-weight: bold;
  font-size: 12px;
  text-anchor: end;
  fill: #34495e;
}
svg.sparkline .value-secondary {
  font-weight: normal;
  font-size: 12px;
  text-anchor: end;
  fill: #7f8c8d;
}
svg.sparkline line.wide-stroke {
  stroke-width: 15;
}
svg.sparkline .line-text {
  font-weight: bold;
  mix-blend-mode: difference;
}
svg.sparkline .line-text.line-end {
  font-weight: bolder;
  text-anchor: end;
}

.pointer-cursor {
  cursor: pointer;
}

.box {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-left: 15px;
  margin-right: 5px;
  border: 0.5px solid lightgray;
  clear: both;
}

.labels {
  font-size: 0.7rem;
}

.fixed-chart {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  background: inherit;
  z-index: 1000;
}

/*Settings*/
.radio-button input {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  top: 4px;
}
.radio-button label {
  font-size: 15px;
  font-weight: bold;
}

/* configs */
.info_list {
  vertical-align: middle;
}
.info_list * {
  vertical-align: middle;
}
.info_list > span {
  display: inline-block;
  overflow: hidden;
}
.info_list > span.key {
  margin-right: 5px;
  width: 120px;
  opacity: 0.7;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.info_list > span.key + span:before {
  content: ":";
  opacity: 0.3 !important;
  margin-right: 5px;
}
.info_list.mono span.value {
  font-family: monospace;
  font-size: 1rem;
}
.info_list.highlight {
  font-weight: bold;
}

.configs {
  font-size: 0.8rem;
}
.configs .toggle-button {
  width: fit-content;
  margin-right: 5px;
}
.configs .nav-link {
  width: fit-content;
}
.configs .ignored {
  display: none;
}
.configs .info_list.only_option > span.key {
  opacity: 0.4;
}
.configs .info_list.only_option > span {
  opacity: 0.4;
}
.configs .info_list.common > span.key {
  opacity: 0.4;
}
.configs .info_list.common > span {
  opacity: 0.4;
}
.configs .info_list.ignored > span.key {
  opacity: 0.4;
}
.configs .info_list.ignored > span {
  opacity: 0.4;
  text-decoration: line-through;
}
.configs .config .combined {
  width: 330px;
}
.configs .config .combined > span {
  display: inline-block;
}
.configs .config .computed {
  margin-right: 5px;
  font-family: monospace;
  font-size: 1rem;
}
.configs .config .object-key {
  color: lightsalmon;
}
.configs .config .object-value {
  color: cornflowerblue;
}
.configs .config .option {
  margin-right: 5px;
  font-family: monospace;
  font-size: 1rem;
  color: #c0392b;
}
.configs .config .options {
  font-family: monospace;
  font-size: 1rem;
}
.configs .config .options > span {
  font-style: italic;
  color: #2980b9;
  margin-right: 5px;
}
.configs .config.only_option > .option {
  opacity: 0.8;
}
.configs .config.specified, .configs .config.hyperparam {
  font-weight: bold;
}
.configs .config.specified > span.key, .configs .config.hyperparam > span.key {
  opacity: 1;
}
.configs .config.specified > span, .configs .config.hyperparam > span {
  opacity: 1;
}

.block .info_list {
  padding: 0 10px;
  line-height: 0;
}
.block .info_list > span {
  line-height: 2;
}

.configs .info_list:last-child {
  border-bottom: none;
}

.key_icon {
  margin-right: 8px;
  opacity: 0.3;
}

.key_split {
  display: inline-block;
  width: 16px;
}

.boolean {
  color: #f39c12;
}

.int {
  color: #27ae60;
}

.float {
  color: #27ae60;
}

.string {
  color: #e84118;
}

.unknown {
  color: #f5f6fa;
}

.subtle {
  color: #ccc;
  font-size: 0.6rem;
}

.size_unit {
  color: #f5f6fa;
}

.size {
  opacity: 0.9;
}

.generation {
  font-size: 0.7em;
  color: #6ab04c;
  margin-right: 2px;
}

/* codes */
.tab-space {
  display: inline-block;
  margin-left: 40px;
}

.code-container {
  display: flex;
  justify-content: center;
}

.code-sample {
  box-shadow: 3px 3px 6px #666, -3px -3px 6px #999;
  user-select: text;
}
.code-sample pre {
  max-width: 400px;
  margin: 0 auto;
}
.code-sample pre div {
  opacity: 0.5;
}
.code-sample pre div.labml-api {
  font-weight: bolder;
  opacity: 1;
}
.code-sample pre .key-word {
  color: coral;
}
.code-sample pre .param {
  color: orangered;
}
.code-sample pre .value {
  color: dodgerblue;
}
.code-sample pre .string {
  color: greenyellow;
}
.code-sample pre .built-ins {
  color: mediumpurple;
}
.code-sample pre .method {
  color: yellow;
}

/* range slider */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 3px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.5;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: orangered;
  cursor: pointer;
  box-shadow: 0px 0px 4px;
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: orangered;
  cursor: pointer;
  box-shadow: 0px 0px 4px;
}
.slider:hover {
  opacity: 1;
}

/* insights */
.insight-container {
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: small;
  opacity: 0.5;
}
.insight-container .time-left {
  display: flex;
  float: right;
  color: #999;
}
.insight-container .icon {
  margin-right: 6px;
  font-size: 1.2em;
  vertical-align: middle;
}

.toast-custom-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}

.auth-container {
  margin: 20px 10px 10px;
}
.auth-container .input-list-container ul {
  margin: 0;
}
.auth-container .input-list-container ul li {
  background: none !important;
  padding: 0;
}
.auth-container .input-list-container ul li .item-key {
  color: inherit;
}
.auth-container > .nav-link {
  margin-top: 40px;
}
.auth-container .footer {
  text-align: center;
}
.auth-container .footer a {
  color: inherit;
}
.auth-container .nav-link.tab {
  margin: 20px 5px !important;
  font-weight: bold;
  text-align: center;
}

a.generic-link {
  color: inherit;
}

.compare-header {
  display: flex;
  flex-direction: column;
  margin: 30px 5px;
}
.compare-header .compared-with {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 10px;
}
.compare-header .compared-with .title {
  font-size: 1rem;
  margin-bottom: auto;
  margin-top: auto;
}
.compare-header .compared-with .title.clickable {
  cursor: pointer;
}
.compare-header .compared-with .sub {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: auto;
  margin-top: auto;
  text-transform: uppercase;
}
.compare-header .error {
  margin-top: 20px;
  padding-left: 10px;
  text-align: center;
}

.fullscreen-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: scroll;
}

.stop-scroll {
  overflow: hidden;
}

.empty-chart-message {
  font-weight: bold;
  margin-left: 10px;
  font-size: 0.8rem;
}

.button-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.dropdown-button {
  display: inline-block;
  position: relative;
}
.dropdown-button nav {
  display: flex;
  flex-direction: row;
}
.dropdown-button nav.nav-link {
  padding-right: 10px;
}
.dropdown-button nav .selected-name {
  margin-left: 5px;
  font-weight: bold;
}
.dropdown-button i {
  font-size: 0.8rem;
  padding: 3px 5px 3px 5px;
  color: #605f5f;
  opacity: 0.8;
}
.dropdown-button i .fas {
  font-weight: 600;
}
.dropdown-button .dropdown-items {
  display: block;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1100;
  right: 0;
  top: 45px;
}
.dropdown-button .dropdown-items .dropdown-item {
  color: black;
  padding: 12px 16px;
  display: block;
  cursor: pointer;
  z-index: 1100;
}
.dropdown-button .dropdown-items .dropdown-item .dropdown-menu-item {
  font-size: 1rem;
  opacity: 0.7;
}
.dropdown-button .dropdown-items .dropdown-item .icon {
  display: inline-block;
  min-width: 1em;
  margin-right: 0.5em;
}
.dropdown-button .dropdown-items.hidden {
  display: none;
}

.range-field {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}
.range-field .input-container {
  flex: unset;
  margin: 4px;
}
.range-field .input-container input {
  width: 4rem;
}
@media (min-width: 800px) {
  .range-field .input-container input {
    width: 6rem;
  }
}

.status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.toggle-list-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
}
.toggle-list-title h3 {
  margin-top: auto;
  margin-bottom: auto;
  border-bottom: unset !important;
}
.toggle-list-title hr {
  flex: 1;
  margin: auto;
}

.fit-content {
  width: fit-content;
}

.metric-summary-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
}
.metric-summary-container .title {
  font-size: 0.8rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: table;
}

.break {
  flex-basis: 100%;
}

.standalone-sparkline {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.standalone-sparkline .data {
  line-height: normal;
}
.standalone-sparkline .data span {
  font-size: 0.6rem;
}

.config .combined {
  width: 330px;
  display: inline-block;
  overflow: hidden;
}

.chart-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}
.chart-overlay .loading {
  padding: 20px;
  background: white;
  border-radius: 5px;
  font-size: 20px;
  color: black;
}
.chart-overlay .text {
  opacity: 0.6;
}

.chart-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chart-options > * {
  min-height: 40px;
  padding: 5px;
}
.chart-options > * .key {
  font-size: 0.8rem;
  opacity: 0.8;
  margin-right: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.sparkline-list .base-description {
  font-size: 0.8rem;
}
.sparkline-list .base-description span {
  opacity: 0.3;
}
.sparkline-list .base-description .fa {
  opacity: 1;
}
.sparkline-list .base-description span {
  margin-left: 5px;
}

.relative {
  position: relative;
}

.std .nav-link {
  width: fit-content;
}
.std.wrap {
  max-width: 100%;
}
.std.wrap pre {
  text-wrap: wrap;
  max-width: 100%;
  word-break: break-all;
}

pre {
  user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  -webkit-user-select: text !important;
}

.slider-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}
.slider-container input {
  width: 4rem;
}
.slider-container .input-container {
  width: 5rem;
  flex: unset;
}
.slider-container .slider {
  width: 9rem;
  margin-top: auto;
  margin-bottom: auto;
}

/*# sourceMappingURL=style.css.map */
